@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#main {

  background-color: none;
}

#header {
  position: fixed;
  background: white;
  padding: 1rem;
}

#weekHeader{
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(7, 12.14%) 15%;
}

#todayBtn {
  display: inline;
  margin-left: 1rem;
  margin-bottom: .2rem;
  background: #eee;
  padding: 0 .5rem;
}

#todayBtn:hover{
  background: #ddd;
}

.dayName {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-left: 10px;
  font-size: 0.9rem;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 12.14%) 15%;
  padding-top: 5rem;
}

.dayContainer {
  display: block;
  min-height: 400px;
}

.dayHeader {
  background: #eee;
  padding-left: 10px;
}

.workoutContainer{
  border-right: 1px solid #ddd;
  height: 100%;
}

.workout {
  margin: 8px;
  padding: 4px 6px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  max-height: 200px;
  border-radius: 4px;
  border: 1px solid #eee;
}

#addWorkoutBtn {
  padding: 4px 6px;
  text-align: center;
  align-self: center;
  width: 100%;
  margin: 10px 0;
}

.workout:hover, #addWorkoutBtn:hover{
  cursor: pointer;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.5), 0 1px 1px 0 rgba(0,0,0,.4), 0 1px 3px 0 rgba(0,0,0,.34);
}

.workoutDuration {
  font-size: small;
  font-weight: 600;
}

.workoutDescription{
  font-size: small;
  text-overflow: ellipsis;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Set the number of lines before ellipsis */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.summary {
  padding: .8rem;
  border-bottom: 1px solid #ddd;
}

.duration{
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-size: 14px;
}

#editWorkout{
  height: 700px;
  width: 600px;
  border: 1px solid black;
  position: fixed;
  right: 400px;
  border-radius: 10px;
  padding: 2rem;
}

button {
  display: block;
}

.exitBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  font-size: large;
  border-radius: 50px;
}

textarea.modifyDescription {
  min-height: 200px;
  min-width: 100%;
}

.workoutTitleInput {
  font-size: large;
  font-weight: bold;
}

#editWorkout input, #editWorkout textarea{
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2px;
  width: 100%;
}

#editWorkout b {
  padding: 2px;
}

#editWorkout input:hover, #editWorkout textarea:hover{
  border: 1px solid blue;
}

#btnContainer {
  display: flex;
  padding: 1rem;
  gap: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  color: blue;
}

.typeContainer{
  display: flex;
  padding: .5rem 0;
  gap: 2rem;
}

#selectedType {
  color: blue;
}